.usersContainer{
    background-color: #fff;
    border-right:2px solid #cccccc;
    padding:0 5px;
    width:25%;
    
  }

.onlineHeader{
  height: 30px;
  
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding:0 0.2rem;
}

.onlineHeader h4{
  margin:0;
}

.closeUsers{
  margin-left: auto;
}
.userList{
 
 display: flex;
 flex-direction: column;
 list-style: none;
 padding:0;
 overflow: auto;
 margin:0;

}

.userItem{
  border-radius: 5px;
  display:block;
  color: #fff;
  padding: 0.3rem;
  background-color: #0c4641;
  margin-bottom: 1rem;
 
}

.profileImg{
  color:#fff;
  display: inline;
  margin-right: 0.2rem;
}

  @media (min-width: 250px) and (max-width: 600px){
   
   .usersContainer{
    display:none;
   }

   .usersContainer.active{
     position:absolute;
     top:0;
     z-index:4;
     display: flex;
     flex-direction: column;
    padding:0 5px;
    width:40%;
    height: 100%;
   }
  }

